.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


#image-details{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.navbar-texts{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.social-media a {
  display: inline-block;
  font-size: 50px;
  width: 100px;
  height: 100px;
  line-height: 50px;
  text-align: center;
}


.follow-me{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media a::before,
.social-media a::after {
  content:'';
  position:absolute;
  box-sizing: border-box;
  width:100px ;
  height: 100%;
  left:0;
  top: -25px;
  transition: .4s linear
}

.social-media a :hover {
  color: rgb(0, 43, 134);
  transform: scale(0.9);
  transition: transform .4s;
}

.github-logo{
  color: black;
}

.instagram-logo{
  color: rgb(0, 0, 0);
}

.youtube-logo{
  color: red;
}

.linkedin-logo{
  color: blue;
}

#home-page-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 16px;
  position: relative
} 

#de-santis-logo-home{

  width: 250px;
  height: 250px;
  
}

#speaker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

#speaker-left {
  transform: scaleX(-1);
}


#speaker-right{
transform: scaleX(1);

}

.music {
  width: 85%;
  padding: 30px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  display: flex;
}

.info {
  color: rgb(255, 255, 255);
  margin-left: 30px;
  flex: 1
}

.info p {
    font-size: 20px;
    margin: 10px 0 60px;
}

.controls {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.controls img {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;

}

.div-btn-beats .btn {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: black;
  
}

.div-btn-beats .btn::after, .div-btn-beats .btn::before {
  border:3px solid black;
  content:'';
  position: absolute;
  width:calc(100% - 6px);
  height:calc(100% - 6px);
 
  right: 0;

  bottom:0;
  z-index: -1;
  transition: transform 0.3s ease;

}

.div-btn-beats .btn:hover::after {
  transform: translate(-5px, -5px);
}

.div-btn-beats .btn:hover::before {
  transform: translate(5px, 5px);
}

.div-btn-beats {
  padding: 10px;
}

